<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="preferExternal" package="com.awtapplication" android:versionCode="10" android:versionName="2.0">
	<uses-sdk android:minSdkVersion="16" />
	<application android:icon="@drawable/icon" android:largeHeap="@bool/largeheap" android:label="FELIOS Anwendertreffen"></application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>